VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=6ab0ecb60002721f95d8
VITE_APPWRITE_DATABASE_ID=portfolio
VITE_APPWRITE_PROFILE_COLLECTION_ID=6ab22fbe00183ffe126e
VITE_APPWRITE_PROJECTS_COLLECTION_ID=6ab230a0001c0c830355
VITE_APPWRITE_SKILLS_COLLECTION_ID=skills
VITE_APPWRITE_EXPERIENCE_COLLECTION_ID=experience
VITE_APPWRITE_WEBSITES_COLLECTION_ID=websites
VITE_APPWRITE_EDUCATION_COLLECTION_ID=education
VITE_APPWRITE_MESSAGES_COLLECTION_ID=messages
